* {
  padding: 0;
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  width: 729px;
  height: 310px;
  background-color: #383a45;
  display: flex;
}

.left {
  border-radius: 8px;
  padding: 30px 38px 30px 27px;
}

.right {
  color: white;
}

.right h2 {
  padding: 56px 36px 43px 0px;
}

.right p {
  color: #8d91a6;
  padding: 0px 36px 30px 0;
}

.icon {
  position: absolute;
  width: 20px;
  height: 22px;
}

@media only screen and (max-width: 500px) {
  .body {
    position: absolute;
    width: 356px;
    height: 616px;
    flex-direction: column;
  }

  .mountain {
    width: 304px;
    height: 290px;
  }

  .left {
    padding: 25px 25px 25px 27px;
  }

  .right h2 {
    padding: 0px 36px 43px 55px;
  }

  .right p {
    padding: 0px 63px 0px 55px;
  }

  .icon {
    padding-left: 55px;
    padding-top: 15px;
  }
}
